@font-face {
    font-family: "EB Garamond";
    src: url('fonts/EBGaramond-Regular.ttf');
}

@font-face {
    font-family: "EB Garamond";
    src: url('fonts/EBGaramond-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "EB Garamond";
    src: url("fonts/EBGaramond-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.ttf");
    font-weight: bold
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Italic.ttf");
    font-style: italic;
}


@font-face {
    font-family: "RobotoMono";
    src: url("fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "RobotoMono";
    src: url("fonts/RobotoMono-Bold.ttf");
    font-weight: bold
}

@font-face {
    font-family: "RobotoMono";
    src: url("fonts/RobotoMono-Italic.ttf");
    font-style: italic;
}

/* probably useful classes */

.textCenter {
    text-align: center
}

.textBold {
    font-weight: bold;
}

.alignVertical {
    /* align item horizontally */
    justify-content: center;
    /* align vertically */
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hidden {
    /* display: none; */
    height: 0;
    overflow: hidden;
    opacity: 0;
    /* instead of hiding stuff to prevent scrolling, just disable scrolling until you click */
}

.hiddenRemove {
    display: none
}

.invisible {
    visibility: hidden;
}

.flexParent {
    display: flex;
    flex-direction: row;
}

/* website */

html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

.fancyFont {
    font-family: "EB Garamond";
}

body {
    margin: 0;
    /* overflow-x: hidden; */
}

#graphic {
    width: 100%;
    /* flex-direction: row; */
    display: flex;
    /* align item horizontally */
    justify-content: center;
    /* align item vertically */
    align-items: top;
}

#vis {
    display: inline-block;
    position: sticky;
    top: 0px;
    z-index: 99;
    height: 100vh;
    width: 65%;
    padding-left: 5%;

    /* align item horizontally */
    justify-content: center;
    /* align vertically */
    align-items: center;
    display: flex;
    flex-direction: column;

}

.step:not(.disableScroll):not(.hidden) {
    height: 100vh;
    /* align item horizontally */
    justify-content: center;
    /* align vertically */
    align-items: center;
    display: flex;
    flex-direction: column;
}

.step {
    height: 100vh;
}


#sections {
    position: relative;
    height: auto;
    display: inline-block;
    max-width: 30%;
    padding-right: 5%;
    /* padding: 5%; */
    /* z-index: 90; */
    /* margin-right: auto;
    margin-left:auto */
}

#sections p {
    font-size: 30px;
    text-align: left;
    width: 100%;

}

#author {
    padding-top: 20px;
    font-size: 18px;
    font-weight: normal;
}

header {
    padding-bottom: 30px;
}

header h2 {
    margin: 0;
    font-style: italic;
    font-weight: normal;
}

h1 {
    font-size: 70px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 0;
}

.italic {
    font-style: italic;
}

#scrollText {
    margin-top: 60px;
    font-size: 12px;
    text-transform: uppercase;
    /* font-weight: bold; */
    /* text-align: center; */
}

/* source: https://unused-css.com/blog/animated-down-arrow/ */

.scroll-down {
    position: relative;
    z-index: 100;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
    animation: bounceArrowAnimation 1.5s ease-in-out infinite;
}

#AbsScrollInfo{
    position:fixed;
    margin-top:80vh;
    /* transform:translateY(800px); */
    /* width:300;
    margin-top:0;
    margin-bottom:auto; */
    z-index:1001;
}

/* menu */

.menu:not(.hidden) {
    background-color: #f4f1e4;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(207, 201, 193);
    color: #2942a5;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    padding: 15px;
    text-align: center;
    z-index: 100;
}

.menu h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.orderNotSelected {
    color: #8e886d
}

.menuTitle:not(.orderNotSelected) {
    color: rgb(235, 72, 3);
}

.menuTitle {
    text-decoration: none;
    /* opacity: 1; */
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.order p:not(.menuTitle) {
    width: 200;
}

.order {
    width: 350px;
    margin-top: 40px;
}

/* dish meal */

.currentDish {
    width: 430px;
}

/* receipt */

.receipt {
    background-color: rgb(246, 246, 246);
    color: rgb(62, 62, 62);
    box-shadow: 0px 0px 5px rgb(207, 207, 207);
    width: 300px;
    min-height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.receipt table {
    font-size:12px;
    text-transform: uppercase;
    font-family: RobotoMono;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.dashed-line {
    /* margin-top: 20px; */
    width: 80%;
    border: 1px dashed rgb(174, 174, 174);
    /* margin-bottom:20px; */
}

.receipt h2 {
    text-transform: uppercase;
    margin:0;
    font-size:25px;
    /* padding-top:20px; */
}

.receipt h3 {
    margin:0;
    margin:3px;
    font-size: 16px;
    font-weight: normal;
}

.receipt tr {
    height: 60px;
    text-align: left;
}

.receipt th {
    font-weight: normal;
    color: rgb(62, 62, 62);
}

/* graphs */

.y-axis,
.x-axis {
    font-size: 12px;

}

.land-outline {
    stroke: white;
    stroke-width: .8px;
    fill: gray;
}

.country-outline {
    stroke: white;
    stroke-width: 0.5px;
    fill: none;
}

.mark:hover {
    height: 35;

}

/* chartContainer */

.x-axis,.y-axis {
    font-family: Roboto;
}

/* animations */

.fadeIn {
    animation: fadeInAnimation 1.5s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOutAnimation 2s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* source: https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/# */

.fadeInOut {
    animation: fadeInOutAnimation 2s ease infinite;
    /* animation-iteration-count: 1; */
    /* animation-fill-mode: forwards; */
}

@keyframes fadeInOutAnimation {

    0%,
    100% {
        opacity: 10;
    }

    50% {
        opacity: .25;
    }
}

/* source: https://www.30secondsofcode.org/css/s/hover-underline-animation/ */

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(235, 72, 3);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* bounce animation */

.bounce {
    animation: bounceAnimation 1.5s ease-in-out infinite;
}

@keyframes bounceAnimation {
    0% {
        transform: translate(0, 10px)
    }

    50% {
        transform: translate(0, 0px)
    }

    100% {
        transform: translate(0, 10px)
    }
}

/*bounce animation for scroll*/

@keyframes bounceArrowAnimation {
    0% {
        transform: translate(0, 10px) rotate(45deg)
    }

    50% {
        transform: translate(0, 0px) rotate(45deg)
    }

    100% {
        transform: translate(0, 10px) rotate(45deg)
    }
}

.cite{
    font-size:12px;
    font-style: italic;
    margin:0;
}

#chartContainer {

    position: fixed;
    width: 600;
    height: 500;
    top: 20%;
    left: 55%;
    opacity: 0;
    /* margin: 0 auto; */

}

#chartContainer p {
    text-align: center;
    width: 390;
    margin-left: auto;
    margin-right:50;
}

#infoGraphicContainer {
    position: fixed;
    width: 375;
    height: 500;
    /* margin:5px; */
    top: 20%;
    left: 32%;
    opacity: 0;
    /* background-color: blue; */
    /* margin: 0 auto; */
    z-index: 10;
}

#infoGraphicContainer p{
    width:325px;
    margin-left: auto;
    margin-right:auto;
    padding-top:0;
}

.barChartTitle {
    margin-bottom:0;
    font-weight: bold;
}

#barChartSubtitle {
    margin-top:0;
}

.testing {
    height: 500;
}


.progressBar {
    width: 100%;
}

/* #rectangles:first-child {
    left:0; 
} */

#rectangles {
    position:fixed; 
    top:0; 
    left:0; 
    height:100%; 
    width:100% 
}


g.mouseover rect {
    fill: white;
    stroke: #222;
    stroke-width: 1px;
}

g.mouseover text {
    font-family: Arial, sans-serif;
}

g.mouseover text:first-child {
    font-weight: bold;
}

.buttons {
    /* flex-basis: 90px;
    flex-grow: 0;
    flex-shrink: 0; */
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width: auto;
    margin-bottom:5px;
    /* height: 110px; */
    /* border: .5px solid black; */
    /* padding:1%; */
    /* background-color: #f0f0f0; */
}

.buttons button {
    border-radius: 10px;
    /* border: 1px gray solid; */
    box-shadow: 0px 0px 5px rgb(183, 183, 183);
    border:none;
    cursor:pointer;
    width:150px;
    height:50px;
    padding:0;
    margin:5px;

}
.buttons button:not(.selectedButton){
    background-color:white;
}

.buttons button:hover{
    background-color: rgb(227, 227, 227);
}

.selectedButton {
    background-color: rgb(227, 227, 227);
}

.buttons h3 {
    text-transform: capitalize;
    font-weight: normal;
    font-family: Roboto;

}

/* .tooltip {

} */

.tooltipTitle {
    /* text-transform: uppercase; */
    font-family: 'Roboto';
    margin:0;
    padding:0;
}

.aqua {
    fill:#1786FF;
    font-family: 'Roboto';
    margin:0;
    padding:0;

}

.capture {
    fill:#FF3B3B;
    font-family: 'Roboto';
    margin:0;
    padding:0;


}
/* #actButton {
    font-family:'Franklin Gothic';
    text-transform: uppercase;
    width:150px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
} */


#actButton:first-child {
    background-color: lightgray;
}

.fisheryImage {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 50%;
    height: 50%;
}
