<<<<<<< HEAD
* {
    font-family: 'Inter','Trebutchet Ms','Helvetica';
=======

html {
    font-family: "Inter","Trebutchet MS","Helvetica", sans-serif;
}

.fancyFont {
    font-family: "EB Garamond","Garamond";
}

.flexParent {
    display:flex;
    flex-direction: row;
}
.flexChild {
    width:50%;
}

body {
    padding-top:5%;
    padding-bottom:5%;
}

header {
    padding-bottom:5%;
}

h1 {
    font-size: 80px;
    font-weight: normal;
    /* font-style: italic; */
}

.textCenter {
    text-align:center
}

main {
    padding-left:10%;
    padding-right:10%;
>>>>>>> f8a8d29f44fd4fd796f0c9bbb34f71564739a442
}

section {
    height: 500;
}

#graphic {
    margin: auto;
<<<<<<< HEAD
    width: 1500px;
    flex-direction: rowz;
=======
    width: 100%;
    flex-direction: row;
>>>>>>> f8a8d29f44fd4fd796f0c9bbb34f71564739a442
    align-items: top;
    justify-content: space-around;
}

#vis {
    display: inline-block;
    position: fixed;
    /* top: 0px; */
    z-index: 1;
    margin-left: 0;
    height: 1000px;
    width: 1000px;
}

.step,
.startingMenu {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
flex-direction: column;
justify-content: space-around; */
}



#sections {
    position: relative;
    display: inline-block;
    width: 400px;
    top: 60px;
    z-index: 90;
    margin-right: 50px;
}

/* #scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f3f3f3;
    padding: 1rem;
}

#scrolly>* {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

article {
    position: relative;
    padding: 0 1rem;
    max-width: 70%;
} */




.receipt,
.menu {
    width: 100%;
    height: 75%;
    margin: 0;
    transform: translate3d(0, 0, 0);
    background-color: #f4f1e4;
    z-index: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(207, 201, 193); 
}

.menu {
    color:#2942a5;
    width: 400px;
    height: 500px;
    padding: 15px;
    padding-top:70px
}

.menu h2 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.orderSelected {
    color:rgb(235, 72, 3);

}

.menuTitle :not(.orderSelected){
    color:#182b75;
}

.menuTitle {
    opacity: 1;
    font-size:18px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

/* .orderUnselected {
    color:#dfd7b6;
} */

.hover-underline-animation {
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(235, 72, 3);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.fadeAnimation {
    animation: fade 2s linear infinite;
}

.order {
    width:350px;
    padding-left:40px;
    margin-top: 40px;
}

.order p:not(.menuTitle){
    width:200;
}
  
  @keyframes fade {
    0%,100% { 
        color:rgb(235, 72, 3) }
    50% { 
        color:#2942a5;
        /* opacity: 1 } */
  }
}

.receipt h4 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin: 10px;
    /* margin-bottom: 0px; */
    /* padding:10px; */
}

.receipt h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: black;
    margin: 2px;
}

.receipt h6 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    margin: 2px;
}

.dashed-line {
    margin-top: 20px;
    max-width: 70%;
    border: 2px dashed black;
}

.receipt p:first-child {
    margin-top: 30px;
}


.receipt p {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin: 3px;
}

/* .step {
    margin: 0 auto 2rem auto;
    background-color: #3b3b3b;
    color: #fff;
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active {
    background-color: #FAF9F6;
    color: #3b3b3b;
    border-style: solid;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
} */

.y-axis {
    font-size: 14px;
    font-family: 'Franklin Gothic';
}

.x-axis {
    font-size: 12px;
    font-family: 'Franklin Gothic';

}

*/ .land-outline {
    stroke: white;
    stroke-width: .5px;
    fill: gray;
}

.country-outline {
    stroke: white;
    stroke-width: 0.5px;
    fill: none;
}


#choropleth {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}